<!DOCTYPE html>
<html lang="eng">
<head> 
    <meta charset="UTF-8">
    <title>Kuromi Maths game</title>

    <link rel="stylesheet" href="/static/style.css?v=3"> 

</head> 
<body>
    <div class="navigation-bar">
        <div class="logo">
            <img src="/static/app-logo.jpg" width="50" height="50">
            <span>Kuromi x BadtzMaru</span>    
        </div>
        <a href="/">Home</a>
        <a href="/p-papers">Practise Paper</a>
        <a href="/progress">Progress</a>
    </div>
</body>
<main>
    {% if let Some(question) = question %}
    {% if let Some(question_number) = question_number %}
    {% if let Some(paper) = paper %}
        <h1>Question {{ question_number }} / {{ total_questions }}</h1>
        <p> {{ question.text }}</p>
        <input type="text" name="answer">
        {% if current_index + 1 < total_questions %}
            <a href="/p-papers/{{ paper }}/{{ current_index +1 }}" class="next-button">Next</a>
        {% else if current_index == total_questions %}
            <a href="#" class="finish-button">Finish</a>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
</main>
