<!DOCTYPE html>
<html lang="eng">
<head> 
    <meta charset="UTF-8">
    <title>Kuromi Maths game</title>

    <link rel="stylesheet" href="/static/style.css?v=3"> 

</head> 
<body>
    <div class="navigation-bar">
        <div class="logo">
            <img src="/static/app-logo.jpg" width="50" height="50">
            <span>Kuromi x BadtzMaru</span>    
        </div>
        <a href="/">Home</a>
        <a href="/p-papers">Practise Paper</a>
        <a href="/progress">Progress</a>
    </div>
</body>
<main> 
    <h1 class="p-papers-title">Practice Papers</h1>
    <div class="practice-paper-list">
        <a href="/p-papers/paper-a/0" class="paper-type-buttons">Paper A</a>
        <a href="/p-papers/paper-b/0" class="paper-type-buttons">Paper B</a>
        <a href="/p-papers/mental-maths/0" class="paper-type-buttons">Mental Maths Paper</a>
    </div>
</main>
